.buttons-container {
    /* display: flex;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 3fr;
    justify-content: space-between;
}

input {
    outline: none;
    border: none;
    background-color: #8cec8c;
}

.total-counter {
    width: 100%;
    text-align: center;
    color: #121312;
}

.input:focus {
    /* outline: none;
    border: none; */
    background-color: #bef0be;
    color: #48504b;
    outline: 1px solid #036103;
}