.inputForm {
    /* display: flex;
    justify-content: space-between; */
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 7fr;
}

.inputForm button, .inputItem{
    height: 120%;
}

/* input area */
.inputItem {
    outline: none;
    border: none;
    background-color: #8cec8c;
    padding-left: 5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #032202;
}

.inputItem:focus {
    /* outline: none;
    border: none; */
    background-color: #bef0be;
    color: #48504b;
    outline: 1px solid #047a04;
}