.inputForm {
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

/* input area */
.inputItem {
    outline: none;
    border: none;
    width: 90%;
    background-color: #8cec8c;
    padding-left: 5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #032202;
}

.inputItem:focus {
    /* outline: none;
    border: none; */
    background-color: #bef0be;
    color: #48504b;
    outline: 1px solid #047a04;
}